@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');

:root { /* established variables to be used later */
    --gameBoardSize: 80vh;
    --gameBoardSpacer: 15px;
}

#gameBoard {     /* set up the grid layout */
    position: relative;
    max-width: var(--gameBoardSize);
    max-height: var(--gameBoardSize);
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--gameBoardSpacer)
}

.gameSpace { /* described the visual style and layout of the grid */
    position: relative;
    background-color: rgb(255, 221, 86);
    font-size: 10rem;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Annie Use Your Telescope", cursive;
    overflow: hidden;

}
