/* Styels for the weather app */

/******************* general layout */

:root {
    --predictionBoxWidth: 70vw;
    --predictionBoxHeight: 20vh;
}

* {
    box-size: border-box;
}

body {
    padding:0;
    margin: 0;
    font-family: sans-serif;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: lightblue;

    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vh 30vh var(--predictionBoxHeight);
    grid-template-areas: 
    'currentInfo      currentInfo'
    'currentHum       currentWind'
    'future                future';
}

/************************************ current info */

#currentInfo {
    position:relative;
    grid-area: currentInfo;
    background-color: salmon;
    border-bottom: 1px solid black;

}

#currentTemp {
    position: absolute;
    font-size: 5rem;
    left: 1rem;
}

#currentStatus {
    position: absolute;
    bottom: 0;
    left: 1rem;
    font-size: 2rem;

}

/************************************ current humudity */

#currentHumidity {
    position:relative;
    grid-area: currentHum;
    background-color: white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

}

/************************************ current wind */

#currentWind {
    position:relative;
    grid-area: currentWind;
    background-color: lightgrey;
    border-bottom: 1px solid black;
}

/************************************ future prediction */

#futureInfo {
    position:relative;
    grid-area: future;
    background-color: lightgoldenrodyellow;
    overflow: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#futureInfo::-webkit-scrollbar { display: none; }

.futureDay {
    positon: absolute;
    width: var(--predictionBoxWidth);
    height: var(--predictionBoxHeight);
    border-right: 1px solid black;
}

.futureDay:nth-child(2) {
    left: var(--predictionBoxWidth);
    border-right: 1px solid black;

}

.futureDay:nth-child(3) {
    left: calc( var(--predictionBoxHeight) * 2);
    border-right: 1px solid black;

}

/************************************ responsive desing (desktop) */

@media screen and (orientation: landscape) {
    
    :root {
        --predictionBoxWidth: 30vw;
        --predictionBoxHeight: calc(100vh / 3);
    }

    main{
    grid-template-columns: 60vw 40vw;
    grid-template-rows: var(--predictionBoxHeight) var(--predictionBoxHeight) var(--predictionBoxHeight);
    grid-template-areas: 
        'currentInfo      currentInfo'
        'currentHum       currentWind'
        'future                future';
    }

    #currentInfo {
        border-bottom: none;
        border-right: 1px solid black;
    }
}